<html>
	<head>
	</head>
	<body>
		<h1>Hello <%= @person.first_name%> <%= @person.last_name %></h1>

		<p>Please notice that <%= @last_person.first_name %> <%= @last_person.last_name %>  has joined to the application</p>
	        <p>Regards,</p>
		<p>People System </p>	
	</body>
</html>
