<div class="jumbotron">
<div class="row">
<%= render 'form' %>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-10">
	<%= link_to  @person , class: 'btn btn-primary' do%>
		<i class='fa fa-ban'></i> Cancel
	<% end %>
	</div>
</div>
</div>
